<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7fg1Y5X9qm0yMuY2c9qULTy9b1416lwo</string>
	<key>GCM_SENDER_ID</key>
	<string>179478125780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walkinstyleapp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-e4608</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-e4608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179478125780:ios:09a6c8d890668c1d16ef41</string>
</dict>
</plist>